body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dropdown {
    width: 150px;
    height: 30px;
    background-color: rgb(66, 66, 66);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}